body {
    margin: 10%;
    background: #FCFEF5;
    color: #901F0F;
    font-family: "Arial", cursive;
}

#greetings {
    color: #948979;
    background: #DCFFDE;
    padding: 1%;
}

.posts {
    border: .1em dotted;
    text-align: justify;
    padding: 1% 5% 1% 5%;
    margin: 0% 10% 0% 10%;
}

#login {
    padding: 20px;
    margin: 10px;
    width: 30%;
    background: #ff0030;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
    text-shadow: -1px -1px #aa3030;
    font-weight: normal;
}

#login ul{
    list-style-type: none;    
}

#submit{
      position: relative;
        vertical-align: top;
          width: 100%;
            height: 60px;
              padding: 0;
                font-size: 22px;
                  color: white;
                    text-align: center;
                      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
                        background: #f39c12;
                          border: 0;
                            border-bottom: 2px solid #e8930c;
                              cursor: pointer;
                                -webkit-box-shadow: inset 0 -2px #e8930c;
                                  box-shadow: inset 0 -2px #e8930c;

}
#submit:active {
       top: 1px;
         outline: none;
           -webkit-box-shadow: none;
             box-shadow: none;

}

